<table xmlns="">
    <tr>
        <td valign="top" width="10%">
            <a href="${QUICKLOOK_URL}" target="_blank" title="View quicklook image">
                <img align="left" border="0" height="66" hspace="8" src="${THUMB_URL}" width="66" />
            </a>
        </td>
        <td valign="top" width="90%">
            <table>
                <tr valign="top">
                    <td>
                        <b>Date </b>
                    </td>
                    <td>{{timeStart}} / {{timeEnd}}</td>
                </tr>
                <tr valign="top">
                    <td>
                        <b>Media Type</b>
                    </td>
                    <td>
                        <a href="${ATOM_URL}" title="Atom format">ATOM</a>
                    </td>
                </tr>
                <tr valign="top">
                    <td>
                        <b>Metadata </b>
                    </td>
                    <td>
                        <a href="${OM_METADATA_URL}" title="O&amp;M format">O&amp;M</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
